*{
    margin: 0;
    padding:0;
}
body{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width:1440px;
}
main{
    width:100%;
    background-color: #B4B1B1;
}
header{
    width:100%;
    /* background: url("/site/img/orig\ 1.jpg"); */
    background-position: center center;
    background-repeat: no-repeat;
    min-height:100vh;
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    max-width:1440px;
    flex-direction: column;
}
body > main > header > nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 170px;
    width:100%;
    max-width:1440px;
    background-color: #A89E9E;
}
body > main > header > nav > ul{
    /* display:inline-block; */
    width:100%;
    /* min-width:900px;s */
    max-width:1100px;
}
body > main > header > nav > ul > li{
    display:inline-block;
    margin-right:3%;
}
body > main > header > div{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height:70px;
    width:100%;
}
body > main > header > div > img{
    width:70px;

}
.twoSlide{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #A89E9E;
    width:100%;
    max-width: 1440px;
    min-height:300px;
    flex-direction:column;
}
.twoSlide > div{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width: 700px;
    min-height:400px;
}
.threeSlide{
    display:flex;
    justify-content: center;
    align-items: center;
    background: #A89E9E;
    width:100%;
    max-width: 1440px;
    min-height:500px;
    flex-direction: column;
}
.threeSlide > div{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width: 700px;
    min-height: 400px;
}
picture > img{
    width:100%;
    max-width:1440px;
}
footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    max-width: 1440px;
    background-color: #A89E9E;
    flex-wrap:wrap;
    min-height:170px;
}
#menuLine{
    display:block;
    width:70px;
    height:3px;
    background: green;
}
#menuLine:nth-child(2){
    margin-top:15px;
    margin-bottom:15px;
}

@media(min-width:900px){
    #menuLine{
        display:none;
    }
}
@media(max-width:900px){
    body > main > header > nav > ul{
        display:none;
    }
    body > main > header > nav > #menuLine{
        display:none;
    }
}
